body,
html {
  padding: 0;
  margin-bottom: 0;
  width: 100vw;
  overflow-y: scroll;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #333;
  &:hover {
    text-decoration: none;
    color: #333;
  }
}

.hover-scale {
  transition: 0.3s;
  &:hover {
    transform: scale(1.2);
  }
}
